* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}

nav div {
    align-content: center;

}

nav div a {
    color: initial;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.hero-section {
    width: 100%;
    height: calc(100% - 50px);
    background-image: url(src/Hero-section\ bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 5.33vw;
    text-align: center;
    font-weight: bold;
}

.hr1 {
    width: fit-content;
    height: 95%;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
}

button {
    align-content: center;
    background-color: #deab5f;
    padding: 8px 15px;
    border: none;
    margin-top: 10px;

}

.ourStory-section {
    width: 100%;
    height: 100%;
    color: white;
    background-color: black;
    display: flex;
}

.Our-Story-s1 {
    width: 50%;
    height: 100%;
    padding-left: 50px;
    align-content: center;

}

.Our-Story-s2 {
    width: 50%;
    height: 100%;
    display: flex;



}

.Our-story-s2-line {
    width: 20%;
    height: 100%;
    position: relative;
}

.Our-story-s2-line img {
    position: absolute;
    top: 23%;
    width: 100%;
    height: 40%;
}

.Our-story-s2-prt1 {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Our-story-s2-prt1 h1 {
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: bold;

}

.Our-story-s2-prt1 p {
    font-size: 1.2vw;
    margin: 10px 0 10px 0;
    padding-right: 20px;
}

.section-contain {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
}
.section-contain-prt1{
    width: 50%;
    height: 100%;
    background-color: blue;
}
.section-contain-prt2{
    width: 50%;
    height: 100%;
    background-color: aqua;
    
}
.section-contain-prt2 img{
    width: 100%;
    height: 80%;
    object-position: ;

}